* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
     background: linear-gradient(130deg, #fdfdfd, #e8ecff, #623cea);

}

header {
    background: #0b3d91;
    padding: 15px 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 22px;
    font-weight: bold;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin-left: 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header ul li a:hover {
    color: #ffd700;
}

.hero {
    background: url('2356639.jpg') center/cover;  
    color: darkkhaki;
    padding: 220px 120px;
    text-align: center;
}

.hero h1 {
    font-size: 40px;
}

.hero p {
    margin-top: 10px;
    font-size: 18px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    background: #ffd700;
    padding: 10px 20px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}

.services {
    color: #151514;
    font-size: larger; 
    padding: 50px 20px;
    text-align: center;
}

.service-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 25px;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
}

.card h3 {
    margin-bottom: 10px;
}

.form-section {
    padding: 50px 20px;
    text-align: center;
    color: rgb(14, 14, 13);
    font-size: large;
}

form {
    max-width: 450px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
}

form input, form textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid gray;
}

form button {
    background: #0b3d91;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background: #082c6b;
}

footer {
    background: #0b3d91;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer p {
    margin: 5px 0;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    header ul {
        margin-top: 10px;
    }
    .service-container {
        flex-direction: column;
        align-items: center;
    }
}
